<ul class="list-group list-group-flush">
  <li class="list-group-item">
    <div class="ms-2 me-auto">
      <div class="fw-bold">
        <%= comment.user.first_name %>
        <%= comment.user.last_name %>
      </div>
      <%= comment.body %>
    </div>
    <hr class="hr" />
  </li>
</ul>