<section>
  <%= render partial: "articles/header" %>
  <% if user_signed_in? %>
    <div class="d-flex justify-content-end">
      <%= link_to new_article_path do %>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-black mx-3">
            <i class="bi bi-plus-lg"></i> New article
          </button>
        </div>
      <% end %>
    </div>
  <% end %>
  <div class="py-2">
    <%= render @articles %>
  </div>
</section>
