/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";

@import url('https://fonts.googleapis.com/css?family=Lora:700|Open%20Sans:400');

body {
  font-family: 'Open Sans';
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-family: 'Lora';
  font-weight: 700;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}

a {
  text-decoration: none;
}

.color-black {
  color: #0D0C22;
}

.btn-black {
  color: #fff;
  background-color: #0D0C22;

  &:hover {
    border: 2px solid #0D0C22;
    color: #0D0C22;
  }
}

.profile-picture-container-sm {
  max-width: 50px;
  max-height: 50px;
}

.profile-picture-container-md {
  max-width: 63px;
  max-height: 63px;
}